/*setting the theme default browser styles*/
body{
    margin: 0; /* remove default margin around the page */
    font-family: 'Segoe UI', Arial, sans-serif; /* clean readable font */
    background-color: #f9f9f9; /* light background for eco-friendly feel */
    color: #333; 
}

/*Header section at the very top*/
header{
    background-color: #a3c9a8; /* soft green to match environment theme */
    text-align: center; /* center the title and tagline */
    padding: 20px;
    position: relative;/*this allows us to position child elemnts*/
    color: white; /* white text on green background */
}

header h1{
    margin: 0; /*removing default spacing*/
    font-size: 2em; 
}

header p{
    margin: 5px 0 0; /*small spacing above tagline*/
    font-size: 1.1em;
}

/*top right corner navigation buttons inside header */
.top-buttons{
    position: absolute; /*the position is relative to the header*/
    top: 20px; /*the space from the top */
    right: 20px;/*the space from right*/
}

.nav-btn{
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #f0c987;
    color: #333;
    text-decoration: none;/*removing the underline*/
    border-radius: 5px;
    font-weight: bold;
}

.nav-btn:hover{
    background-color: #e0b96f;
    color: white;
}

/*the map section*/
.map-section{
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20 px;
    text-align: center;
}

.map-section h2{
    margin-bottom: 20px;
}

/*Placeholder box for the map*/
#map-placeholder{
    background-color:#e8f0ea;
    border: 2px dashed #ccc;
    height: 400px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #666;
}

/*setting up the legend area*/
.legend{
    margin-top: 30px;
    text-align: left;

}

.legend h3{
    margin-bottom: 10px;
}

.legend ul{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.legend li{
    padding: 6px 12px;
    background-color: #d4e9d7;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
    white-space:nowrap;

}