<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareCircle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/home.css')}}">
    
</head>
<body>
    <!---this is the header section-->
    <header>
        <h1>ShareCircle</h1>
        <p>Claim free items and share with your community</p>
    </header>
    <!---navigation btn for map and create post-->
    <div class="top-buttons">
        <a href="{{ url_for('sc_map') }}" class="nav-btn">Map</a>
        <a href="{{ url_for('sc_post') }}" class="nav-btn">Post Item</a>
    </div>

    

    <!---Search and filter section here-->
    <section class="controls">
        <input type="text" placeholder="Search items......" id="searchBar">
        <div class="filters">
            <button id="searchCategoryAll">All Items</button>
            <button id="searchCategoryFood">Food</button>
            <button id="searchCategoryClothes">Clothes</button>
            <button id="searchCategoryHousehold">Household</button>
            <button id="searchCategoryOthers">Others</button>
        </div>

        <div class="sort">
            <label for="sortSelect">Sort by:</label>
            <select name="sortSelect" id="sortSelect">
                <option>Nearest First</option>
                <option>Category A-Z</option>
            </select>
        </div>

    </section>
    <!---items that are listed-->
    <section class="item-list">
        <!---each item is represnted in a card-->
        <div class = "item-card item itemOthers">
            <img src="book.jpg" alt="school books">
            <span class="category">Others</span>
            <h3>O-level math books for free 2025 edition</h3>
            <p>have over 50 math books, great for students who are preparing for o-level </p>
            <p class="location">Bedok , Singapore</p>
            <p class="time">Posted: 3h ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>

        <div class="item-card item itemClothes">
            <img src="blazers.jpg" alt="professional clothing">
            <span class="category">Clothes</span>
            <h3>Professsional men's blazer</h3>
            <p>all sizes available, claim it quick, while stocks last!!! </p>
            <p class="location">Tampines , singapore</p>
            <p class="time">Posted: 16h ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>

        <div class="item-card item itemClothes">
            <img src="jackets.jpg" alt="winter jackets">
            <span class="category">Clothes</span>
            <h3>Winter Jackets</h3>
            <p>gently used winter clothing, all sizes available for adults and children </p>
            <p class="location">Jurong , singapore</p>
            <p class="time">Posted: 2h ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>

        <div class="item-card item itemHousehold">
            <img src="sofa.jpg" alt="sofa and coffee table">
            <span class="category">Household</span>
            <h3>Sofa and coffee <table></table></h3>
            <p>Minor wear but still very functional, must pick up by this weekend </p>
            <p class="location">Pasir Ris , Singapore</p>
            <p class="time">Posted: 2 min ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>

        <div class="item-card item itemHousehold">
            <img src="kitchen-pot.jpg" alt="Kitchen Pot Utensils">
            <span class="category">Household</span>
            <h3>kitchen utensils & cookware set</h3>
            <p>complete kitchen set including pots, pans, utensils and dishes </p>
            <p class="location">Geylang , Singapore</p>
            <p class="time">Posted: 32h ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>

        <div class="item-card item itemFood">
            <img src="veg.jpg" alt="vegetables">
            <span class="category">Food</span>
            <h3>Fresh Vegetables & Fruits</h3>
            <p>Surplus from farmers market. Includes tomatoes, lettuce, apples, and carrots. Perfect condition, pick up today! </p>
            <p class="location">Macpherson CC , Singapore</p>
            <p class="time">Posted: 19 min ago</p>
            <button class="claim-btn" onclick="window.location.href='claim.html'">Claim item</button>
        </div>
        
        <script type="module" src="{{ url_for('script', filename = 'script/loadItems.js')}}"></script>

    </section>
    
    <!-- Scripts toggle which category of items is shown on the screen -->
    <script src="{{ url_for('static', filename = 'script/home.js')}}">
    </script>
</body>
</html>